*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

html.js .loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}
html.js .loader_inner {
	background-image: url("../img/preloader.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
	left: 50%;
	top: 50%;
	position: absolute;
}

body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	font-family: sans-serif;
	font-size: 50px;
	min-width: 320px;
	position: relative;
	font-family: "Raleway", sans-serif;
	overflow-x: hidden;
}
.hidden {
	display: none;
}


.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: 50px;
	width: 80%;
	box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	width: 50%;
	font-family: "Raleway", sans-serif;
	line-height: 1.1;
	margin-right: 40px;
	margin-top: 20px;
	margin-bottom: 70px;
}

.description:after {
	content: "";
	position: absolute;
	height: 125%;
	width: 1px;
	right: 10px;
	background-color: lightskyblue;
	opacity: 0.3;
}

.main--line {
	position: relative;
}

.main--line:before {
	content: "";
	position: absolute;
	width: 140%;
	height: 1px;
	top: -20px;
	right: 40px;
	background-color: salmon;
	opacity: 0.8;
}

.description p {
	margin: 20px;
	padding: 0;
}

.fio {
	position: relative;
	z-index: 1;
	font-weight: 500;
	font-size: 60px;
}

.description .color_yellow {
	display: inline-block;
	position: relative;
	width: 500px;
	height: 35px;
	top: 90px;
	z-index: 0;
}

.description .color_yellow:hover {
	cursor: pointer;
	background-color: yellow;
	z-index: 0;
}

.description .color_green:hover {
	background-color: palegreen;
}

.description .color_red:hover {
	background-color: lightpink;
}


.chat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30%;
	font-family: "SourceCodePro", monospace;
	font-weight: 200;
	font-size: 18px;
	opacity: 0.6;
}

.chat p {
	position: relative;
}

.chat p::before {
	content: ">";
	position: absolute;
	left: -25px;
	opacity: 0.5;
}

.chat input[type="text"] {
	border: 0;
	border-bottom: 2px solid rgba(211, 51, 47, 0.5);
  border-radius: 0; 
  outline: 0;
  width: 90%;
  color: #000;
  font-size: 18px;
  font-family: "SourceCodePro", monospace;
}

.chat--input {
	position: relative;
}

.chat--input::before {
	content: ">";
	position: absolute;
	left: -25px;
	opacity: 0.5;
}

input[type="text"]::-webkit-input-placeholder {
	font-size: 16px;
  color: #ccc;
}

input[type="text"]:focus::-webkit-input-placeholder {
	color: transparent;
}

input[type="text"]::-moz-placeholder {
	font-size: 16px;
	color: #ccc;
}

input[type="text"]:focus::-moz-placeholder {
	color: transparent;
}












